<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<bean name="user" class="day16.User3"></bean>
<bean name="user2" class="day16.User3"></bean>

<bean class="day16.User"></bean>

<bean name="user3" class="day16.User3" scope="prototype"></bean>


</beans>